<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

{% block header %}
    {% include "../template/common/header.twig" %}
{% endblock %}

<div id="content" class="{{ content_class }}">
    {% block content %}

    {% endblock %}
</div>

{% block footer %}
    {% include "../template/common/footer.twig" %}
{% endblock %}

<script src="/js/main.js"></script>

</body>
</html>