/* Footer
************************/
.page {
  min-height: 100%;
  height auto !important
  height 100%
  margin: 0 auto -70px;
}
  #push {
    height: 70px;
  }
.footer {
  width: 100%;
  position: relative;
  height: 70px;

  &:before {
    content:'';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top:-2px;
    background: url("../../img/border_bottom.jpg") left;
  }
  &__container {
    width: 1170px;
    margin: 0 auto;
  }

  &__logo {
    width 225px
    height 29px
    background url("../../img/logo_dark.png")
    float left
    margin: 20px 0 0 0
    cursor pointer
  }
  &__link {
    float: right;
    margin: 26px 0 0 0
  }
}

  .link {
    font-size: 14px;
    color: #d64b32;
    text-decoration none;

  }