.http {
  .table {
    &__wrapper {
      width: 950px;
    }
    &__header {
      font-size: 0;
      background #fbedea;
    }
  }
}

  .header {
    &__label {
      font-size 14px
      color rgba(0,0,0,.5)
      width: 345px;
      display: inline-block
      vertical-align top
      padding: 13px 19px;
    }
  }

    .table {
      &__url {
        color: #292f33;
        font-size 14px;
        display: inline-block;
        width: 345px;
        vertical-align top
        padding: 13px 19px
      }
        &__settings {
          color: #292f33;
          font-size 14px;
          display: inline-block;
          padding 14px 15px


          vertical-align top
        }
    }

      .settings {
        &__type {
          padding 0px 0 8px 0
        }
          &__length {
            padding: 8px  0 31px 0px
          }
            &__decode {
              padding 0 0 24px 0

            }
      }