.upload-scene{
  position relative
  margin: 98px 0 0 0;
}

.main {
  width: 100%;
  height: 100%;
  background url("../../img/main_bg.jpg") center center no-repeat #1a2329;
  position: relative;
  text-align: center;
  min-height: 666px + 74px;
  &__container {
    width: 1170px;
    margin: 0 auto;
    padding: 74px 0 0 0;
    height: 100%;
    min-height: 666px + 74px;
  }
  &_page {
    width: 100%;
    height: 100%;
  }
  &__logo {
    width: 64px;
    height: 64px;
    background url("../../img/logo_large.png");

    margin: 0 auto;
  }
  &__logo_type {
    width: 430px;
    height: 28px;
    background url("../../img/logo_type_large.png");

    margin: 18px auto 25px;
  }
    &__info {
      font-size 16px;
      color: #ffffff;
      line-height 28px;

    }
  &__btn {
    font-size 32px;
    color: #fff;
    padding: 17.5px 76px
  }
    &__btn_text {
      font-size 14px;
      color: rgba(255, 255, 255, .5);
      padding 11px 0 0 0
    }
  &__footer {
    position relative;
    max-width: 1280px;
    min-width 1170px;
    margin: -177px auto 0;
    &:after {
      content: ''
      position absolute
      left 0
      bottom: 0
      height: 5px;
      width: 100%;
      background url("../../img/main_border_bottom.jpg")
    }
  }

    .footer__item-wrapper {
      font-size 0;
      position relative
      padding 36px 0 0 0
      &:before {
        content ''
        position absolute
        left: 0
        top: 0
        width: 100%;
        height: 33px;
        background url("../../img/line.png") center no-repeat

      }
    }
  .footer__title {
    font-size 44px;
    color: #ffffff
    font-weight 300
  }

    .footer__item {
      display: inline-block
      vertical-align top
      width: 12.5%
      font-size 44px;
      font-weight 300


    }
}

  .footer__item {
    position relative
    min-height 91px;
    span {
      position: absolute;
      left: 50%;
      top: 48px;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      transform: translateX(-50%);
    }
  }
    .color_1 {
      color: #eb361a
    }

    .color_2 {
      color: #ca4e19
    }

.color_3 {
  color: #c46416
}

.color_4 {
  color: #ffa015
}

.color_5 {
  color: #ffc41a
}
.color_6 {
  color: #75bd3f
}
.color_7 {
  color: #3bba9f
}
.color_8 {
  color: #0089b0
}

  .logo__wrapper {
    transition: all 200ms ease;
  }
  .main.processing {
    .logo__wrapper {
      transform scale(.7)
    }
      .main__btn{
        transform: scale(0);
        transition: transform 0.33s ease;
      }
      .main__info {
        font-size 32px;
        font-weight 300
        & span {
          font-size 14px
          color rgba(255,255,255,.5)
          display: block
        }
      }
        .main__btn_text {
          display: none
        }
  }


.loader {
  height: 280px;
  position: absolute;
  left: 0;
  top: -90px;
  width: 100%;
  display: none;
  .main.processing & {
    display: block;
  }
  &__wrapper{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 1px solid red;
    -webkit-filter: url(#goo);
    filter: url('#goo');
  }
  &__item{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background: #0067B0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      margin-left: -(70px / 2);
      margin-top: -(70px / 2);
    }
    &:nth-child(5):before {
      z-index: 100;
      width: 100px;
      height: 100px;
      margin-left: -(100px / 2);
      margin-top: -(100px / 2);
      transition: transform 0.33s ease;
      transform: scale(0);
      .main.processing & {
        transform: scale(1);
        -webkit-animation: dot-colors 4s ease infinite;
        animation: dot-colors 4s ease infinite;
      }
    }
    &:nth-child(1) {
      .main.processing & {
        -webkit-animation: dot-rotate-1 4s 0s linear infinite;
        animation: dot-rotate-1 4s 0s linear infinite;
      }
    }
    &:nth-child(1):before {
      background-color: #FF3270;
      .main.processing & {
        -webkit-animation: dot-move 4s 0s ease infinite;
        animation: dot-move 4s 0s ease infinite;
      }
    }
    &:nth-child(2) {
      .main.processing & {
        -webkit-animation: dot-rotate-2 4s 1s linear infinite;
        animation: dot-rotate-2 4s 1s linear infinite;
      }
    }
    &:nth-child(2):before {
      background-color: #208BF1;
      .main.processing & {
        -webkit-animation: dot-move 4s 1s ease infinite;
        animation: dot-move 4s 1s ease infinite;
      }
    }
    &:nth-child(3) {
      .main.processing & {
        -webkit-animation: dot-rotate-3 4s 2s linear infinite;
        animation: dot-rotate-3 4s 2s linear infinite;
      }
    }
    &:nth-child(3):before {
      background-color: #AFE102;
      .main.processing & {
        -webkit-animation: dot-move 4s 2s ease infinite;
        animation: dot-move 4s 2s ease infinite;
      }
    }
    &:nth-child(4) {
      .main.processing & {
        -webkit-animation: dot-rotate-4 4s 3s linear infinite;
        animation: dot-rotate-4 4s 3s linear infinite;
      }
    }
    &:nth-child(4):before {
      background-color: #FBD301;
      .main.processing & {
        -webkit-animation: dot-move 4s 3s ease infinite;
        animation: dot-move 4s 3s ease infinite;
      }
    }
  }
}

@-webkit-keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-125px);
    transform: translateY(-125px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  18%, 22% {
    -webkit-transform: translateY(-125px);
    transform: translateY(-125px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}
@keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}
@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(-105deg);
    transform: rotate(-105deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}
@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(165deg);
    transform: rotate(165deg);
  }
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}
@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}
@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(435deg);
    transform: rotate(435deg);
  }
  100% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
}
@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(705deg);
    transform: rotate(705deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
.page__main.page__main {
  height: 100% !important;
  & #push {
    display none
  }
}