.overview {
  .table {
    &__wrapper {
      width: 930px;
      border-right: none;
    }
    &__header {
      font-size: 0;
      background #fbedea;
    }
    &__body{
      border-right: 1px solid #F7DBD6;
    }
  }
}

.table {
  &__alert {
    font-size 14px;
    background #d64b32
    color: #fff;
    padding: 9px 20px
  }
    &__title {
      font-size: 32px;
      color: #d64b32
      font-weight 300
      padding:  0 0 5px 0
    }
      &__subtitle {
        font-size 14px;
        color: #d64b32
        opacity .7
      }
        &__right {
          display: inline-block
          vertical-align middle
          width: 50%;
          text-align: right;
          padding: 0 31px 0 0
        }
          &__left {
            display: inline-block
            vertical-align middle
            width: 50%;
            text-align: left;
            padding 14px 0 23px 21px

          }
            &_btn {
              background-color: transparent;
              color: #d64b32;
              border: 1px solid #d64b32;
              padding: 7px 21px;
            }
              &__separator {
                font-size: 24px;
                font-weight: 300;
                color: #1a2329;
                padding: 31px 0 14px 20px;
                letter-spacing: -0.4px;
              }
                &__row {
                  width: 440px
                  display inline-block
                  //padding: 0 0 0 30px
                }
}
  .table-signature{
    margin-left -16px
  }
  .table__row {
    font-size: 0;

    border-radius 3px
    border: 1px solid #eaeaea
    margin: 0 0 16px (16px * 2)
    .table__string {
      width: 100%;
      display: table;
      vertical-align top
    }
    .string__table {
      background: rgba(140, 145, 148, 0.05)
      width: 21%;
      min-width auto;
      vertical-align top
      display table-cell
    }
      .string__item {
        width: 77%;
        vertical-align: top
        padding 9px 0 12px 2%
        display table-cell
      }
  }

.string {

  &__table {
    font-size 14px
    color: #8c9194
    display: inline-block
    vertical-align middle
    text-align: left
    min-width: 105px;
    padding: 9px 0 12px 19px;
  }
    &__item {
      font-size: 14px;
      color: #1a2329
      display: inline-block
      vertical-align middle
      padding: 9px 0 12px 0;
    }

}

.description-popup{
  width 600px
  padding 27px 10px 27px 40px
  position fixed
  top 0
  bottom 0
  background #fff
  text-align left
  box-shadow 0 0 30px 10px rgba(#000, 0.2)
  z-index 100
  left 1000%
  margin-left 0
  transition margin-left 0.33s ease, left 0s ease 0.33s
  &.show{
    left 100%
    margin-left -(@width)
    transition margin-left 0.33s ease
  }
  &__close{
    display block
    width 24px
    height 24px
    background url('../img/close.png') 0 0 no-repeat
    position absolute
    right 30px
    top 36px
    transform rotate(0deg)
    transition transform 0.33s ease
    &:hover{
      transform rotate(180deg)
    }
  }
  &__title{
    color #1a2329
    font-size 32px
    font-weight 300
    padding-bottom 20px
  }
  &__wrapper{
    position relative
    overflow hidden
  }
  &__content{
    color #252729
    font-size 14px
    height 100%
    line-height 1.75
    padding-right 20px
    ul{
      list-style none
      margin-top 12px
    }
    li{
      position relative
      padding-left 30px
      margin-bottom 12px
      &:before{
        content ""
        display block
        background url('../img/ul-li-point.png') 0 0 no-repeat
        width 12px
        height 12px
        position absolute
        left 0
        top 6px
      }
    }
  }
}

.scroller{
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
  width: 0;
}
.scroller__track {
  display: none; /* Invisible by default */
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 2px;
  width: 4px;
  background: #f7dbd6;
}
.baron-show-scroll .scroller__track {
  display: block; /* Visible when scrolling is possible */
}
.scroller__bar { /* The bar. You should define width, right position and background */
  position: absolute;
  z-index: 1;
  right: 0;
  width: 4px;
  background: #d64b32;
}
