.overview {
  .table {
    &__wrapper {
      width: 950px;
    }
    &__header {
      font-size: 0;
      background #fbedea;
    }
  }
}

.table {
  &__alert {
    font-size 14px;
    background #d64b32
    color: #fff;
    padding: 9px 20px
  }
    &__title {
      font-size: 32px;
      color: #d64b32
      font-weight 300
      padding:  0 0 5px 0
    }
      &__subtitle {
        font-size 14px;
        color: #d64b32
        opacity .7
      }
        &__right {
          display: inline-block
          vertical-align middle
          width: 50%;
          text-align: right;
          padding: 0 31px 0 0
        }
          &__left {
            display: inline-block
            vertical-align middle
            width: 50%;
            text-align: left;
            padding 14px 0 23px 21px

          }
            &_btn {
              background-color: transparent;
              color: #d64b32;
              border: 1px solid #d64b32;
              padding: 7px 21px;
            }
              &__separator {
                font-size: 24px;
                font-weight: 300;
                color: #1a2329;
                padding: 31px 0 14px 20px;
                letter-spacing: -0.4px;
              }
                &__row {
                  width: 450px
                  display inline-block
                  //padding: 0 0 0 30px
                }
}

  .table__row {
    font-size: 0;

    border-radius 3px
    border: 1px solid #eaeaea
    margin: 0 16px
    &:last-child {
      margin: 0 0 0 16px
    }
    .table__string {
      width: 100%;
      display: inline-block;
      vertical-align top
    }
    .string__table {
      background: rgba(140, 145, 148, 0.05)
      width: 21%;
      min-width auto;
      vertical-align top
    }
      .string__item {
        width: 77%;
        vertical-align: top
        padding 9px 0 12px 2%
      }
  }

.string {

  &__table {
    font-size 14px
    color: #8c9194
    display: inline-block
    vertical-align middle
    text-align: left
    min-width: 105px;
    padding: 9px 0 12px 19px;
  }
    &__item {
      font-size: 14px;
      color: #1a2329
      display: inline-block
      vertical-align middle
      padding: 9px 0 12px 0;
    }

}