{% extends "index.twig" %}
{% set content_class = 'http' %}

{% block table %}

    <div class="table__header ">
        <div class="header__label">URI</div>
        <div class="header__label">Data</div>
    </div>
    <div class="table__body">
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
        <div class="table__string">
            <div class="table__url">http://blackfreeqazyio.cc/bl0yj67sdf3hj0ack/</div>
            <div class="table__settings">
                <div class="settings__type">
                    POST <span>/bl0yj67sdf3hj0ack/ HTTP/1.0</span>
                </div>
                <div class="setting__host">
                    Host: <span>blackfreeqazyio.cc</span>
                </div>
                <div class="settings__length">
                    Content-Length: <span>157</span>
                </div>
                <div class="settings__decode">
                    \xba\xbf\x8ch\xc2\xbf\x8ch\xfc\xf9\x98\x18\xbf\xbe\x8ds\xf8\xf3\xcd+\xf1\xbf\x8ch
                </div>
            </div>
        </div>
    </div>
{% endblock %}