{% extends "index.twig" %}
{% set content_class = 'overview' %}

{% block table %}
    <div class="table__alert">
        File injected
    </div>
    <div class="table__header ">
        <div class="table__left">
            <div class="table__title">Moonlight Maze</div>
            <span class="table__subtitle">APT</span>
        </div>
        <div class="table__right">
            <div class="btn table_btn js-description-caller">Description</div>

            <div class="description-popup js-description-popup">
                <a class="description-popup__close js-description-close" href="javascript:void(0)"></a>

                <div class="description-popup__title">Общая характеристика</div>
                <div class="description-popup__wrapper js-description-scroller js-scroller">
                    <div class="description-popup__content scroller">
                        Банковские трояны&nbsp;&mdash; широкое семейство троянских программ, ворующих информацию, которая позволяет злоумышленникам получить доступ к&nbsp;банковским счетам пользователя. Существует много видов банковских троянских программ, различающихся механизмом получения банковских данных:
                        <ul>
                            <li>Трояны, ворующие данные кредитных карт представляют собой самое многочисленное семейство. Для кражи данных пластиковых карт, трояны обычно применяют следующие приемы:</li>
                            <li>Сканирование файлов на&nbsp;компьютере для поиска номеров карточек;</li>
                            <li>Подмена официальных страниц банков и&nbsp;магазинов на&nbsp;фальшивые. В&nbsp;этом случае, в&nbsp;памяти компьютера присутствует троянская программа, которая на&nbsp;ходу изменяет веб-страницу в&nbsp;браузере и&nbsp;перенаправляет пользователя на&nbsp;поддельную страницу или&nbsp;же добавляет на&nbsp;веб-страницу поддельные поля для ввода данных кредитной карты;</li>
                            <li>Кража данных из&nbsp;заполненных форм. В&nbsp;данном случае троян не&nbsp;изменяет веб-страницу, но&nbsp;крадет финансовую информацию при заполнении формы оплаты;</li>
                            <li>Рекламные программы, которые терроризируют пользователей навязчивой рекламой, а&nbsp;потом перенаправляют его на&nbsp;сайт злоумышленников, где предлагается ввести данные кредитной карты для оплаты;</li>
                            <li>Троянские программы для банкоматов&nbsp;&mdash; специализированное вредоносное&nbsp;ПО, которое разрабатывается профессионалами, глубоко разбирающимися в&nbsp;принципах работы банкоматов. Позволяют злоумышленникам безпроблемно снять большую часть наличности банкомата или&nbsp;же осуществлять при помощи него другие финансовые махинации;</li>
                            <li>Троянские программы для смартфонов (в&nbsp;основном для ОС&nbsp;Android). В&nbsp;настоящее время множество систем интернет-банкинга привязано к&nbsp;мобильному номеру клиента. При помощи телефона можно оплатить счет или сделать денежный перевод. Проверочные коды для осуществления операций приходят в&nbsp;виде SMS на&nbsp;мобильный номер клиента, и&nbsp;могут быть легко похищены троянскими программами;</li>
                            <li>Троянские программы, перехватывающие и&nbsp;анализирующие сетевой трафик. Данная разновидность троянов пытается найти важную информацию в&nbsp;перехватываемых сетевых пакетах.</li>
                            <li>Троянские программы для кражи банковской информации зачастую представляют собой сложные и&nbsp;многокомпонентные программные комплексы. К&nbsp;примеру, в&nbsp;то&nbsp;время как один компонент удаляет антивирусную программу с&nbsp;компьютера, другой подменяет веб-страницы для кражи данных банковской карты, третий маскирует следы своей деятельности, четвертый занимается шифрованием передаваемой информации. Среди всех видов вредоносных программ, банковские трояны наносят самый большой финансовый ущерб своим жертвам.</li>
                        </ul>
                    </div>
                    <div class="scroller__track"><!-- Track is optional -->
                        <div class="scroller__bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table__body">
        <div class="table__string">
            <div class="string__table">Submitted</div>
            <div class="string__item">September 21st 2015 15:45:10 (CDT)</div>
        </div>
        <div class="table__string">
            <div class="string__table">File Size</div>
            <div class="string__item">2732048 bytes</div>
        </div>
        <div class="table__string">
            <div class="string__table">File Type</div>
            <div class="string__item">PE32 executable (GUI) Intel 80386, for MS Windows</div>
        </div>
        <div class="table__string">
            <div class="string__table">MD5</div>
            <div class="string__item">834538260769910c8286c85a2b8a0061</div>
        </div>
        <div class="table__string">
            <div class="string__table">SHA1</div>
            <div class="string__item">35e63ace724c642591b11a8734c2445f8ca82564</div>
        </div>
        <div class="table__string">
            <div class="string__table">SHA256</div>
            <div class="string__item">5dda3be4c0eea3a9001f9e866dcd0ac1e7342e9a3ed31b1abe4564f92db353f5</div>
        </div>
    </div>
    <div class="table-signature">
        <div class="table__separator">
            Traffic signature detection
        </div>
        {% for i in 1..11 %}
            <div class="table__row">
                <div class="table__string">
                    <div class="string__table">Category</div>
                    <div class="string__item">Backdoor and remote control activity</div>
                </div>

                <div class="table__string">
                    <div class="string__table">Siganture</div>
                    <div class="string__item">ET CURRENT_EVENTS Upatre Common URI Struct Feb 12 2015</div>
                </div>
                <div class="table__string">
                    <div class="string__table">IP</div>
                    <div class="string__item">197.149.90.166:12168</div>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}
