{% extends "index.twig" %}
{% set content_class = 'overview' %}

{% block table %}
    <div class="table__alert">
        File injected
    </div>
    <div class="table__header ">
        <div class="table__left">
            <div class="table__title">Moonlight Maze</div>
            <span class="table__subtitle">APT</span>
        </div>
        <div class="table__right">
            <div class="btn table_btn">Description</div>
        </div>
    </div>
    <div class="table__body">
        <div class="table__string">
            <div class="string__table">Submitted</div>
            <div class="string__item">September 21st 2015 15:45:10 (CDT)</div>
        </div>
        <div class="table__string">
            <div class="string__table">File Size</div>
            <div class="string__item">2732048 bytes</div>
        </div>
        <div class="table__string">
            <div class="string__table">File Type</div>
            <div class="string__item">PE32 executable (GUI) Intel 80386, for MS Windows</div>
        </div>
        <div class="table__string">
            <div class="string__table">MD5</div>
            <div class="string__item">834538260769910c8286c85a2b8a0061</div>
        </div>
        <div class="table__string">
            <div class="string__table">SHA1</div>
            <div class="string__item">35e63ace724c642591b11a8734c2445f8ca82564</div>
        </div>
        <div class="table__string">
            <div class="string__table">SHA256</div>
            <div class="string__item">5dda3be4c0eea3a9001f9e866dcd0ac1e7342e9a3ed31b1abe4564f92db353f5</div>
        </div>
    </div>
    <div class="table__separator">
        Traffic signature detection
    </div>
    <div class="table__row">
        <div class="table__string">
            <div class="string__table">Category</div>
            <div class="string__item">Backdoor and remote control activity</div>
        </div>

        <div class="table__string">
            <div class="string__table">Siganture</div>
            <div class="string__item">ET CURRENT_EVENTS Upatre Common URI Struct Feb 12 2015</div>
        </div>
        <div class="table__string">
            <div class="string__table">IP</div>
            <div class="string__item">197.149.90.166:12168</div>
        </div>
    </div>
    <div class="table__row">
        <div class="table__string">
            <div class="string__table">Category</div>
            <div class="string__item">Backdoor and remote control activity</div>
        </div>
        <div class="table__string">
            <div class="string__table">Siganture</div>
            <div class="string__item">ET CURRENT_EVENTS Upatre Common URI Struct Feb 12 2015</div>
        </div>
        <div class="table__string">
            <div class="string__table">IP</div>
            <div class="string__item">197.149.90.166:12168</div>
        </div>
    </div>
{% endblock %}
